body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #93b874;
    color: #fff;
    text-align: left;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
    display: inline-block;
    margin-left: 1cm; /* Adjust the margin for the desired gap */
}

span.wiki {
    color: #495548; /* Color for "wiki" */
}

span.how {
    color: #ffffff; /* Color for "How" */
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the main content */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
}

ul li {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #0054a4;
}

/* Style the footer */
footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
}